<form class="auth-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input 
            matInput 
            type="email" 
            placeholder="Enter your email" 
            [(ngModel)]="email" 
            name="email" 
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
        >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input 
            matInput 
            type="password" 
            placeholder="Enter your password" 
            [(ngModel)]="password" 
            name="password" 
            required
        >
    </mat-form-field>
    <button 
        class="login-btn" 
        mat-raised-button 
        color="primary" 
        type="submit" 
        [disabled]="!userForm.valid">
        <span class="spinner-wrapper">
            <mat-spinner *ngIf="loading" diameter="24" color="accent" class="spinner"></mat-spinner>
            <span>Login</span>
        </span>
    </button>
    <h2 *ngIf="error" class="error">{{error}}</h2>
</form>
