<div class="dashboard">
    <header class="header">
        <ng-container *ngIf="isAdmin$ | async">
            <app-menu [menuItems]="[{icon: 'people', name: 'Admin section', link: '/admin-section'}]"></app-menu>
        </ng-container>
        <div class="logoutBtn">
            <app-logout-btn (logoutClick)="handleLogout()"></app-logout-btn>
        </div>
    </header>
    <h1>Assessment reports: </h1>
    <ng-container *ngIf="getAssessmentGraphLoading$ | async">
        <mat-spinner diameter="34" color="warn" class="spinner"></mat-spinner>
    </ng-container>
    <ng-container *ngIf="(getAssessmentsError$ | async) || (getAssessmentGraphError$ | async)">
        <app-error></app-error>
    </ng-container>
    <ul class="dashboard__list">
        <li (click)="openModal(card.id)" *ngFor="let card of assessments">
            <app-card [card]="card"></app-card>
        </li>
    </ul>
</div>
